docker-compose.yaml
.env
node_modules
.vscode
src/services/inventory/src/generated
src/services/product/src/generated
src/services/user/src/generated
src/services/auth/src/generated
src/services/email/src/generated
idea.txt
test.js